.chatWindow {
    width: 100%;
    height: calc(100svh - 5rem);
    border-radius: 8px;
    padding: 1rem;
    position: relative;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 5rem 1fr 5rem;
    transition: 0.3s background-color, 0.2s color;
}

.chatWindow::-webkit-scrollbar {
    display: none;
}

@media (max-width: 830px) {
    .chatWindow {
        grid-template-rows: 4rem 1fr 4rem;
        /* display: none; */
    }

    /* .noMessages {
        display: none;
    } */
}