.contacts {
    width: 100%;
    height: calc(100svh - 5rem);
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 5rem 1fr;
    padding: 1rem;
    border-radius: 8px;
    transition: 0.3s background-color, 0.2s color;
}

.contacts::-webkit-scrollbar-thumb {
    background: #ced0d1;
}

.contacts::-webkit-scrollbar {
    width: 4px;
}