.contacts {
    width: 100%;
    height: calc(100svh - 5rem);
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 5rem 1fr;
    padding: 1rem;
    border-radius: 8px;
    transition: 0.3s background-color, 0.2s color;
}

.contactsList {
    height: 100%;
    width: 100%;
    overflow-y: overlay;
}

.contacts::-webkit-scrollbar-thumb {
    background: #ced0d1;
}

.contacts::-webkit-scrollbar {
    width: 4px;
}

.contact {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    border-radius: 8px;
    margin-bottom: 1rem;
    padding: 0.8rem;
    transition: 0.3s background-color, 0.1s color;
}

.contactName {
    font-size: 1.3rem;
    font-weight: 500;
}

.naContact_dm {
    background-color: #212529;
}

.naContact_dm:hover {
    background-color: #2d2d33;
}

.aContact_dm {
    background-color: #343a40;
}

.naContact_lm {
    background-color: #cfdbd5;
}

.naContact_lm:hover {
    background-color: #cec3c3;
}

.aContact_lm {
    background-color: #b3b3b3;
}

.userPhoto {
    width: 35px;
    aspect-ratio: 3 / 4;
    border-radius: 5px;
    margin-right: 0.8rem;
    object-fit: cover;
    object-position: center;
}

.noContacts {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.noContactIcon {
    width: 3rem;
    height: 3rem;
    margin-bottom: 0.5rem;
}