.messageBox {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 4rem;
    border-bottom: 2px solid #ffcc33;
    border-radius: 8px;
    transition: 0.3s background-color;
}

.messageInput {
    width: 100%;
    background-color: transparent;
    border: 0;
    font-family: 'Poppins', sans-serif;
    padding-left: 1rem;
    font-size: 1.2rem;
    transition: 0.2s color;
}

.sendBtn {
    background-color: transparent;
    border: 0;
}

.sendBtn * {
    width: 70%;
    height: 70%;
}

@media (max-width: 830px) {
    .messageBox {
        width: calc(100vw - 4rem);
    }
}