.message {
    width: 100%;
    margin-bottom: 0.5rem;
}

.messageText {
    max-width: 90%;
    padding: 0.5rem;
    transition: 0.3s color, 0.3s background-color;
}

.right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.rightText {
    border-radius: 14px 14px 0 14px;
}

.leftText {
    border-radius: 14px 14px 14px 0;
}