.noContacts {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.noContactIcon {
    width: 3rem;
    height: 3rem;
    margin-bottom: 0.5rem;
}